h1 {text-align: center; background-color:rgb(154, 224, 241);}

div.imagen {text-align: center; }

img.ciudad {width: 130px; height: 100px; opacity: 0.5;}
img.ciudad:hover {opacity: 1.0;}
img.puerto {width: 130px; height: 100px; opacity: 0.5;}
img.puerto:hover {opacity: 1.0;}
img.bioparc {width: 130px; height: 100px; opacity: 0.5;}
img.bioparc:hover {opacity: 1.0;}
img.virgen {width: 130px; height: 100px; opacity: 0.5;}
img.virgen:hover {opacity: 1.0;}

span:hover {background-color:rgb(154, 224, 241); font-weight: bold; }


div.valencia2 {background-image: url(img/valencia_antigua.jpg); float: both; 
     width: 120vmin; height: 40vmin; border: black 1px solid; 
     font-family:  sans-serif; color: blue; font-size: small; font-weight: bold;}
   
div.valencia1 { background-color: lightblue;
    text-align: center;}

img.antigua {width: 200px; height: 150px; }  

